.wrapper {
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-container {
    display: flex;
    gap: 5px;

    .thumbnail {
        
        img {
            width: 60px;
            height: 60px;
            border-radius: 4px;
        }
    }
}

.desc {
    .map-container {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        .map-icon {
            color: #0677F8;
            font-size: 1rem;

        }

        .map-title {
            color: #0677F8;
            text-decoration: underline;
            font-size: 1.1rem;
            font-weight: 500;
        }

    }

    .title {
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 3px;
        line-height: 1.2;
        margin-bottom: 3px;
    }

    .sub-title {
        color: #727475;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 140px;
        font-size: 1rem;
    }
    .price-container {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 3px 0;
        
    }

    .price-label {
        font-size: 1rem;
        color: #555;
        font-weight: 500;
    }

    .price {
        font-size: 1.2rem;
        font-weight: 700;
        color: #e63946; // đỏ nhấn mạnh giá
    }


    .card-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        .host-name_container {
            display: flex;
            align-items: center;
            margin-left: -2px;

            .host-icon {
                color: #474849;
                font-size: 1.1rem;
                padding-bottom: 1px;
            }

            .host-name {
                color: #434444;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

        .see-more {
            border: none;
            text-decoration: underline;
            font-size: 1.2rem;
            font-weight: 500;
            color: #e63946;
            background-color: transparent;
            cursor: pointer;

        }
    }
}

