@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;   // 👈 xoá margin mặc định của heading và p
}

a {
  text-decoration: none;
  color: inherit; 
}
