.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
}

.footer_container {
  width: 68%;

  .footer_banner {
    display: flex;
    border-radius: 20px;
    background: #018294;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;

    .title {
      color: #FFF;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 44px; /* 115.789% */  
    }

    .sub_title {
      display: flex;
      gap: 16px;
      margin-bottom: 24px;

      p {
        color: #FFF;
        text-align: center;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
      }
    }

  .booking_btn {
    background-color: #ffcc00; 
    color: #01444f; 
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 12px 32px;
    border-radius: 9999px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    margin-bottom: 46px;
  }

  .booking_btn:hover {
    background-color: #ffcc00; 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
  }

  .footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 86px;

    .logo {
      p {
        font-size: 2.7rem;
        font-weight: 800;
      }
    }

    .us {
      display: flex;
      gap: 44px;

      a {
        color: #676562;
        font-size: 1.7rem;
      }
    }

    .social {
      display: flex;
      gap: 18px;
    }
  }
}
