.wrapper {
    width: 100%;
    cursor: pointer;
    padding-bottom: 50px;
}

.workspace_item {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12); /* mạnh hơn */
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18); /* đổ bóng đậm và xa hơn khi hover */
    }
}


.image_section {
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.workspace_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    
    .workspace_item:hover & {
        transform: scale(1.05);
    }
}

.content_section {
    padding: 20px;
    height: 120px;
}

.header {
    margin-bottom: 12px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0;
    line-height: 1.4;
}

.description {
    font-size: 1.3rem;
    color: #53565a;
    white-space: nowrap;        /* Không xuống dòng */
    overflow: hidden;           /* Ẩn phần vượt quá */
    text-overflow: ellipsis;    /* Hiển thị "..." khi tràn */
}

.promo {
    display: inline-block;
    background-color: #008234;
    padding: 2px 4px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
}




