.wrapper {
    margin-top: 60px;

    .title_container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        .icon {
            color: #073E68;
            font-size: 2.5rem;
            padding-bottom: 5px;
        }

        h2 {
            // color: #000;
        }
    }

    .post_container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        width: 100%;

        > * {
            flex: 0 0 calc(25% - 15px); /* ✅ 4 item mỗi hàng */
            box-sizing: border-box;
        }

        /* ✅ responsive đẹp */
        @media (max-width: 1200px) {
            > * {
                flex: 0 0 calc(33.333% - 15px); /* 3 item */
            }
        }

        @media (max-width: 900px) {
            > * {
                flex: 0 0 calc(50% - 15px); /* 2 item */
            }
        }

        @media (max-width: 600px) {
            > * {
                flex: 0 0 100%; /* 1 item */
            }
        }
    }
}
